:root {
    --background: #EDEDF9;
    --mainBg: #FCFCFF;
    --header-FD-Bg: rgba(241, 241, 253, 1);
    --header-text-button-color: rgba(32, 33, 66, 1);
    --body-border: rgba(239, 239, 255, 1);
    --pink-border: rgba(255, 106, 149, 1);
}